In [1]:
import pandas as pd
import numpy as np

In [2]:
train_df = pd.read_csv('../input/train.csv')
test_df = pd.read_csv('../input/test.csv')

In [3]:
train_df.head()

         image  category
0  2823080.jpg         1
1  2870024.jpg         1
2  2662125.jpg         2
3  2900420.jpg         3
4  2804883.jpg         2

In [4]:
train_df.shape

(6252, 2)

In [5]:
test_df.shape

(2680, 1)

In [7]:
train_df['category'].value_counts()

1    2120
5    1217
2    1167
3     916
4     832
Name: category, dtype: int64

In [36]:
from sklearn.model_selection import train_test_split

In [42]:
trn, val = train_test_split(train_df, stratify=train_df['category'], random_state=0, test_size=0.2, shuffle=True)

In [43]:
trn.shape

(5001, 2)

In [44]:
val.shape

(1251, 2)

In [47]:
train_df['category'].value_counts(normalize=True)

1    0.339091
5    0.194658
2    0.186660
3    0.146513
4    0.133077
Name: category, dtype: float64

In [46]:
trn['category'].value_counts(normalize=True)

1    0.339132
5    0.194561
2    0.186563
3    0.146571
4    0.133173
Name: category, dtype: float64

In [48]:
val['category'].value_counts(normalize=True)

1    0.338929
5    0.195044
2    0.187050
3    0.146283
4    0.132694
Name: category, dtype: float64

In [49]:
trn['valid'] = False
val['valid'] = True

/home/nishant/venvs_dir/DS/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/nishant/venvs_dir/DS/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [52]:
train = trn.append(val).reset_index(drop=True)

In [54]:
train.head()

         image  category  valid
0  2827293.jpg         1  False
1  2324207.jpg         4  False
2  2816925.jpg         5  False
3  2903004.jpg         3  False
4  2884341.jpg         1  False

In [56]:
train['category'] = train['category'] - 1

In [58]:
train['category'].value_counts()

0    2120
4    1217
1    1167
2     916
3     832
Name: category, dtype: int64

In [59]:
class_mapper = {0: 'Cargo', 
 1: 'Military', 
 2: 'Carrier', 
 3: 'Cruise', 
 4: 'Tankers'}

In [60]:
train.to_csv('../input/train.csv', index=False)